@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    /* font-family: 'Inter', sans-serif; */
    font-family: 'Montserrat', sans-serif;
}

html{
    scroll-behavior: smooth; 
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.section {
    padding: 7rem 0 2rem;
}

/*=============== LAYOUT ===============*/

.container {
    max-width: 1350px;
    margin-left: auto;
    margin-right: auto;
}

.grid {
    display: grid;
}


/*=============== HEADER SECTION ===============*/
.header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    color: transparent;
}

/*=============== NAV ===============*/
.nav {
    height: 5.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_logo{
    font-weight: 800;
    font-size:1.8rem;
    letter-spacing: 1px;
    color: white;
}


.nav_menu{
    display: flex;
    align-items: center;
    column-gap: 4rem;
}

.nav_list a{
    color: #fff;
    font-weight: 600;
}

.appointment a{
    background-color: #fff;
    color: #1fc29d;
    padding: 1rem;
    border-radius: .25rem;
}


/* main section */
.main_section{
    width: 100%;
    height: 80vh;
    background-image: url("svg3.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.img{
    width: 80%;
    position: absolute;
    top: 10px;
}

.text_container{
    display: flex;
    width: 100%;
}

.main_text_container{
    width: 40%;
    margin-top: 14%;
    margin-left: 8%;
}

.main_text_container .text{
    color: white;
    font-size: 3.3rem;
}

.text h3{
    font-weight: 700;
}

.description{
    color: white;
    margin-top: 1rem;
}

.button{
    margin-top: 3rem;
}

.button a{
    background-color: #fff;
    color: #1fc29d;
    padding: 1rem;
    font-weight: 600;
    border-radius: .25rem;
    font-size: 15px;
}

.button .learn_more{
    background: rgba( 255, 255, 255, 0.25 );
    color: #fff;
    margin-left: 10px;
}


.image_container{
    width: 50%;
}

.image_container img{
   width: 50%;
   margin-top: 20%;
   margin-left: 20%;
}

.hospital_info_container{
    width: 20%;
}

.info{
    display: flex;
    flex-direction: column;
    margin-top: 50%;
}

.info_1{
    background: rgba( 255, 255, 255, 0.25 );
    width: 50%;
    padding: 1.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: .25rem;
}

.info_1 h3{
    color: #fff;
    font-weight: 700;
    font-size: 1.5rem;
}

.info_1 p{
    color: #fff;
    margin-top: 10px;
}

.info_2{
    background: rgba( 255, 255, 255, 0.25 );
    width: 50%;
    padding: 1.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 2rem;
    border-radius: .25rem;
}

.info_2 h3{
    color: #fff;
    font-weight: 700;
    font-size: 1.5rem;
}

.info_2 p{
    color: #fff;
    margin-top: 10px;
}

.info_3{
    background: rgba( 255, 255, 255, 0.25 );
    width: 50%;
    padding: 1.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 2rem;
    border-radius: .25rem;
}

.info_3 h3{
    color: #fff;
    font-weight: 700;
    font-size: 1.5rem;
}

.info_3 p{
    color: #fff;
    margin-top: 10px;
}



.appoint_container{
    width: 80%;
    height: 200px;
    background-color: white;
    margin: auto auto;
    transform: translateY(-40%);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    padding: 2.5rem;
    border-radius: .25rem;
}

.appoint_text h3{
    font-size: 20px;
}

.appoint_input{
    margin-top: 2rem;
}

.date_input[type=date]{
    height: 50px;
    width: 18rem;
    padding: .75rem;
    border: 1px solid #cfcfcf;
    border-radius: .25rem;
    color: gray;
    font-size: 16px;
}

.date_input{
    height: 50px;
    width: 18rem;
    padding: .75rem;
    border: 1px solid #cfcfcf;
    border-radius: .25rem;
    color: gray;
    font-size: 16px;
    outline: none;
}

.date_input:focus{
    border: 1.3px solid #1fc29d;
}

.location_input{
    height: 50px;
    width: 18rem;
    padding: .75rem;
    border: 1px solid #cfcfcf;
    border-radius: .25rem;
    margin-left: 1rem;
    color: gray;
    font-size: 16px;
    outline: none;
}

.location_input:focus{
    border: 1.3px solid #1fc29d;
}


.dropdown{
    height: 50px;
    width: 18rem;
    padding: .75rem;
    border: 1px solid #cfcfcf;
    border-radius: .25rem; 
    margin-left: 1rem;
    color: gray;
    font-size: 16px;
    outline: none;
}

.dropdown:focus{
    border: 1.3px solid #1fc29d;
}


.booking_button{
    background-color: #1fc29d;
    color: #fff;
    border-radius: .25rem;
    padding: 1rem;
    margin-left: 7rem;
}




/* why should */

.why_should{
    margin-top: 6rem;
    display: flex;
}

.why_should_text_container{
    width: 55%;
}

.why_should_para_container{
    width: 45%;
}

.why_should_text_container p{
    font-size: 2.7rem;
    font-weight: 500;
}

.why_should_text_container .should_text{
    font-weight: 700;
}

.why_should_text_container .hospital_text{
    font-weight: 800;
    color: #1fc29d;
}

.why_should_para_container p{
    padding-right: 3rem;
    font-weight: 500;
    color: gray;
}


/* features */
.features{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2rem;
    margin-top: 6rem;
}

.feature1{
    background-color: #fff;
    border: 1px solid #cfcfcf;
    text-align: center;
    padding: 2.5rem;
    border-radius: .25rem;
    transition: all .3s ease-in-out;
}

.feature1:hover{
    background-image: url('feature_background.svg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    transform: scale(1.1);
    border: none;
}

.feature1 .feature_name{
    margin-top: 10px;
    font-size: 20px;
    font-weight: 600;
}

.feature1 .feature_para{
    margin-top: 10px;
    padding: .20rem;
    font-weight: 500;
}


/* steps */
.steps{
    margin-top: 8rem;
}
.steps_container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 5rem;
}

.steps_box{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
    text-align: center;
}

.step_box_1{
    padding: 2rem;
    border: 1px solid  #cfcfcf;
    background-image: url('feature_background.svg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.step_box_1 h2{
    font-weight: 900;
    color: white;
    font-size: 3rem;    
}

.step_box_1 h3{
    font-size: 1.4rem;
    margin-top: 20px;
    font-weight: 800;
    color: white;
}

.step_box_1 p{
    margin-top: 20px;
    color: white;
    font-weight: 500;
}

.step_box_2, .step_box_3, .step_box_4{
    padding: 2rem;
    border: 1px solid  #cfcfcf;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.step_box_2 h2, .step_box_3 h2, .step_box_4 h2{
    font-weight: 900;
    color: #1fc29d;
    font-size: 3rem;    
}

.step_box_2 h3, .step_box_3 h3, .step_box_4 h3{
    font-size: 1.4rem;
    margin-top: 20px;
    font-weight: 800;
    color: #1fc29d;
}

.step_box_2 p, .step_box_3 p, .step_box_4 p{
    margin-top: 20px;
    color: gray;
    font-weight: 500;
}

.steps_info{
    margin-left: 6rem;
    margin-top: auto;
    margin-bottom: auto;
}

.steps_info p{
    font-size: 2.7rem;
    font-weight: 500;
}

.steps_info p .easy_text{
    font-weight: 700;
}

.steps_info p .patient_text{
    font-weight: 800;
    color: #1fc29d;
}

.steps_hospital_info{
    margin-top: 2rem;
    border-left: 5px solid #1fc29d;
    padding-left: 1rem;
}

.steps_hospital_info p{
    font-size: 1.1rem;
    color: gray;
}

.steps_hospital_info h3{
    font-size: 1.4rem;
    font-weight: 500;
    margin-top: 1.5rem;
}

.steps_hospital_info h3 span{
    font-size: 1.8rem;
    font-weight: 700;
    color: #1fc29d;
}


/* footer */
footer{
    margin-top: 7rem;
    width: 100%;
    background-color: #0f614e;
    color: #fff;
    padding: 50px 0 20px;
    font-size: 13px;
    line-height: 20px;
}

.row{
    width: 85%;
    margin: auto;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
}

.col{
    flex-basis: 25%;
    padding: 10px;
}

.col:nth-child(2), .col:nth-child(3){
    flex-basis: 15%;
}

.footer_logo{
    font-weight: 800;
    font-size:1.8rem;
    letter-spacing: 1px;
    color: white;
    margin-bottom: 2rem;
}

.col h3{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}

.email-id{
    width: fit-content;
    border-bottom: 1px solid #fff;
    margin: 20px 0;
}

.col ul li{
    margin-bottom: 12px;
}

.col ul li a{
    text-decoration: none;
    color: #fff;
}

.col form{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}

.col form .bx{
    font-size: 18px;
    margin-right: 10px;
}

.col form input{
    width: 100%;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
}

.col form button{
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}

.col form button .bx{
    font-size: 16px;
    color: #ccc;
}

.col .social-icons .bx{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #000;
    background: #fff;
    margin-right: 15px;
    cursor: pointer;
}
 
footer hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}

.copyright{
    text-align: center;
}















 /* Change background header */
/* .scroll-header{
    background-image: url('navbar_background.svg');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 100;
} */















/* mobile version */

